@use './variables' as *;

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #ececec;
  --surface: #fff;
  --border: #e5e4e7;
  --accent: #aa3bff;
  --accent-bg: rgb(255, 255, 255);
  --btn-bg: #ffffff;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 16px/1.5 var(--sans);
  color: var(--text);
  background: var(--bg);
  -webkit-font-smoothing: antialiased;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #c6c6c6;
    --text-h: #f3f4f6;
    --bg: #282828;
    --surface: #3c3c3c;
    --border: #5D5D5DFF;
    --accent: #7d5858;
    --accent-bg: #3c3c3c;
    --btn-bg: #1e0037;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font: inherit;
  color: var(--text);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  width: 320px;
  margin: 0 auto;
}

input {
  width: 100%;
  display: block;
  padding: 5px 10px;
  background: var(--bg);
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid var(--border);
  color: var(--text);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--bg) inset;
  -webkit-text-fill-color: var(--text-h);
}

p {
  color: var(--text);
  font-size: 14px;
}

.container {
  max-width: 860px;
  margin: 0 auto;
  padding: 0 20px;
}

.form-container {
  display: flex;
  padding: 20px 20px;
  background: var(--surface);
  border: 1px solid var(--border);
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  width: 320px;
}

.btn {
  display: block;
  background: var(--surface);
  border: 1px solid var(--border);
  border-radius: 5px;
  color: var(--text);
  padding: 5px 20px;
  transition: background 0.15s;
}

.btn:hover {
  background: var(--bg);
}

.error {
  margin-bottom: 5px;
    color: #e53e3e;
    font-size: 13px;
  }

.comment-content {
    white-space: pre-wrap;
  }